.app {
  max-width: 820px;
  margin: 32px auto;
  padding: 16px;
  background-color: #fff;
}

.header {
  line-height: 2em;
  font-size: 2em;
  text-align: center;
  margin-bottom: 16px;
  border: 2px dashed #1890ff;
}

.main {
  min-height: 320px;
  border: 2px dashed #1890ff;
  padding: 16px;
  text-align: center;
}